# Mirrors textureatlasgenerator.accesswidener for NeoForge.
public-f net.minecraft.client.renderer.GameRenderer mainRenderTarget
public net.minecraft.client.renderer.texture.TextureAtlas animatedTexturesStates
public net.minecraft.client.renderer.texture.TextureAtlas uploadAnimationFrames()V
public net.minecraft.client.renderer.texture.SpriteContents$AnimationState frame
public net.minecraft.client.renderer.texture.SpriteContents$AnimationState subFrame
public net.minecraft.client.renderer.texture.SpriteContents$AnimationState isDirty
